:root {
  --primary-color: hsl(217, 19%, 35%);
  --secondary-color: hsl(214, 17%, 51%);
  --tertiary-color: hsl(212, 23%, 69%);
  --quaternary-color: hsl(210, 46%, 95%);
}
body {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--quaternary-color);
}

.card {
  font-family: "Manrope", "sans-serife";
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  max-width: 320px;
}

.drawer {
  border-radius: 15px 15px 0px 0px;
  max-height: 200px;
}

.redator-content,
.paragraph {
  padding: 10px 20px;
}

.title {
  padding: 20px 20px 0px 20px;
  font-weight: 700;
  line-height: 20px;
  color: var(--primary-color);
}
.paragraph {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 20px;
  max-width: 300px;
}

.redator-content {
  display: flex;
  position: relative;
  align-items: center;
}
.redator-photo {
  width: 42px;
  height: 42px;
  border-radius: 100%;
}
.redator-info {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.redator-name {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 700;
}
.date {
  margin-top: 10px;
  color: var(--secondary-color);
  font-size: 14px;
}
.share {
  position: relative;
  z-index: 2;
  right: 10px;
  padding: 15px;
  border: none;
  border-radius: 100%;
  transition: background-color 0.5s ease-in-out;
  background-image: url(images/icon-share.svg);
  background-position: center 8px;
  background-size: 50%;
  background-repeat: no-repeat;
}
.share.active {
  background-image: url(images/icon-share\ alternative.svg);
  background-color: var(--tertiary-color);
}
.share-box {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 320px;
  max-height: 72px;
  background-color: var(--secondary-color);
  border-radius: 0px 0px 15px 15px;
}
.share-box.active {
  opacity: 1;
}
.share-box span {
  font-size: 15px;
  color: var(--tertiary-color);
  margin-left: 20px;
  font-family: "Manrope", "sans-serife";
  text-transform: uppercase;
  letter-spacing: 5px;
}
.share-box img {
  margin: 10px;
}
